@font-face{
      font-family: 'lato';
      src: url('../css/fonts/Lato-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}

@font-face{
      font-family: 'lato';
      src: url('../css/fonts/Lato-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
}

@font-face{
      font-family: 'lato';
      src: url('../css/fonts/Lato-Light.ttf') format('truetype');
      font-weight: lighter;
      font-style: normal;
}