.quick-donate {
   width: 100%;
   height: 249px;
   padding: 0;
   background: #20113D;
   display: flex;
   justify-content: center;
   // padding-left: 16px;

   &-wrapper {
      width: 1400px;
      height: 249px;
      display: flex;
      padding-top: 52px;
   }
}

.quick-donate-wrapper-block-text {
   width: 945px;
   margin-right: 0px;

   &-title {
      width: 925px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 51px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 20px;
   }
   &-text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #FFFFFF;
   }
}

.block-donate {
   margin-left: 155px;
   position: relative;

   &-title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 130%;
      color: #FFFFFF;
      margin-bottom: 9px;
   }
   &-form {
      border: 1px solid white;
      border-radius: 5px;
      height: 74px;
      width: 321px;
      display: flex;
      outline: none;

      &-symbol {
         // display: block;
         pointer-events: none;
         color: white;
         margin-top: 25px;
         margin-left: 15px;
         font-family: Montserrat;
         font-style: normal;
         font-weight: 600;
         font-size: 18px;
         line-height: 22px;
      }

      &-input {
         height: 100%;
         width: 215px;
         background: none;
         border: none;
         font-family: Montserrat;
         font-style: normal;
         font-weight: 600;
         font-size: 18px;
         line-height: 22px;
         text-transform: uppercase;
         color: #FFFFFF;
      }
      &-input::placeholder {
         color: #FFFFFF;
      }
      &-button {
         height: 100%;
         width: 80px;
         border: none;
         // border-radius: 5px;
         background-color: #F58021;
         cursor: pointer;

         &:hover {
            background-color: #D26004;
         }
      }
   }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
