.map-section {
      width: 375px;
      height: 375px;
      margin-top: 60px;
      background-color: rgb(100, 100, 100);
      overflow: hidden;
      border: 2px solid white;
      border-radius: 1px;
}

.map {
      height: 100%;
      width: 100%;
}