.search-section {
      display: flex;
      flex-direction: row;
      border-radius: 8px;
      position: relative;
      top: -44px;
      margin-left: 100%;
      width: 375px;
      


      &-search-input {
            background-color: rgba(76, 82, 85, 0.4);
            border-top: 1px solid white;
            border-left: 1px solid white;
            border-bottom: 1px solid white;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            width: 274px;
            height: 44px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 22px;
            z-index: 10;
            
            &::placeholder {
                  color: white;
                  font-size: 14px;
            }
            
      }

      &-search-button {
            width: 101px;
            height: 44px;
            background-color: rgba(174, 181, 185, 0.5);
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            border-right: 1px solid white;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 10;
            
            &-text {
                  font-size: 14px;
                  font-weight: 700;
            }
      }
}
.input-helper {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      width: 264px;
      margin-top: 44px;
      margin-left: 8px;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      z-index: 55;
      overflow: hidden;

      :first-child {
            border-top: 0;
      }


      &-block {
            height: 33px;
            border-top: 1px solid white;
            padding-left: 10px;
            font-size: 12px;
            overflow: hidden;
            display: flex;
            align-items: center;
      }
}
.input-helper-block:hover {
      background-color: rgba(24, 24, 24, 0.8);
}





.hidden {
      visibility: hidden;
}
.error-input { 
      box-shadow: 0px 0px 20px 10px #FF0000;   
}